
@font-face {
  font-family: 'SF';
  src: url(../static/fonts/SF-Pro.ttf)
}

#body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 35vw;
  border: 1px solid black;
  border-radius: 15px;
  padding-left: 20px;
  overflow-y: scroll;
  font-family: SF
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  
}

html {
  height: 100%;
}

.name-container {
  border: 0.01rem solid lightgray;
  border-left: none;
  border-right: none;
  border-bottom: none;
  padding: 20px;
}

#search-input {
  height: 40px;
  width: 450px;
  border-radius: 20px;
  font-family: SF;
  border: 1px solid black;
}


